pip install google-generativeai
pip install pyttsx3
pip install google-cloud-texttospeech
pip install pydub
#pydub โหลด ffmpeg เพิ่ม
pip install playsound
pip install sounddevice
pip install numpy
pip install scipy
pip install openai-whisper